/* ---------- Testing */
.test {
    border: 1px solid red;
}
/* ---------- Header */
.navbar {
    display: none;
    margin-bottom: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.5);
    /* margin: 10px calc(0.5*(100vw - 250px)); */
    width: 65%;
    margin: 10px auto;
    margin-top: 30px;
}

.brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.main {
    margin: 0;
}

.sub {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
}

.burger {
    width: 14px;
}

.dropdown {
    position: relative;
    /* display: inline-block; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dropdown span {
    margin-bottom: 14px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: -27px;
    top: 45px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    list-style-type: none;
    border-radius: 5px;
}

.dropdown-content li {
    text-align: center;
    padding: 3px 1px;
}

.dropdown-content a,
.dropdown-content a:visited {
    text-decoration: none;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ---------- Body */
body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    margin: 0;
}

.gallery-images {
    width: 65%; /*Consider removing for mobile, adding x-margins instead (full width of device)*/
    margin: 15px auto;
    text-align: center;
    flex-grow: 1;
    align-content: center;
}

.about-body {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 13px;
}

.about-image {
    color: whitesmoke;
    position: relative;
    text-align: center;
    height: 350px;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url('public/fisherman.jpg');
    background-size: cover;
}

blockquote {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    position: relative;
    top: 40%;
    text-align: center;
}

.description {
    text-align: center;
}

.main-image {
    /* width: 250px; */
    width: 100%;
    margin: 15px auto;
    height: 70vh;
    text-align: center;
    flex-grow: 1;

    background-image: url('public/zaeem-farooqi-phyrrah-character-page-final.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 74%;
    box-shadow: 0px 6px 7px -4px rgba(0,0,0,0.75);
}

.image {
    width: 100%;
    margin-top: 5px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* background-image: url('public/zaeem-farooqi-phyrrah-character-page-final.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 74%; */
}

.description {
    margin: 15px 0;
    padding: 0 20px;
}
/* ---------- Footer */
.footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #818181;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

/* ---------- Media Queries for Width*/
@media (min-width: 430px){
    .main {
        margin-bottom: 0;
        font-size: 2rem;
    }
    .main-image {
        width: 400px;
    }
    .sub {
        margin-top: 0;
        font-size: 17px;
        font-weight: 300;
    }

    .burger {
        width: 18px;
    }
    .dropdown-content {
        top: 66px;
    }
}
@media (min-width: 576px){
    .header {
        /* margin: 10px calc(0.5*(100vw - 350px)); */
        /* margin-top: 20px; */
    }
}

@media (min-width: 768px){
    .header {
        /* margin: 10px calc(0.5*(100vw - 450px)); */
        width: 65%;
        margin: 10px auto;
        margin-top: 20px;
        justify-content: space-between;
    }
    .main {
        font-size: 2.3rem;
    }
    .sub {
        font-size: 20px;
    }
    .main-image {
        width: 450px;
    }
    .dropdown {
        display: none;
    }
    .navbar {
        display: block;
        margin-top: auto;
    }
    .navbar {
        list-style: none;
        display: flex;
    }
    .navbar li {
        margin: auto 0.2rem;
    }
    .navbar a {
        text-decoration: none;
        color: black;
    }
    .gallery-images {
        margin-top: 30px;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 225px);
        gap: 25px;
    }
    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 992px){
    .header {
        /* margin: 10px calc(0.5*(100vw - 550px)); */
        width: 75%;
        margin: 10px auto;
        margin-top: 20px;
        justify-content: space-between;
    }
    .main {
        font-size: 2.5rem;
    }
    .sub {
        font-size: 24px;
    }
    .navbar li {
        margin: auto 0.4rem;
    }
    .main-image {
        width: 550px;
    }
    .gallery-images {
        gap: 45px;
    }
}

@media (min-width: 1200px){
    .header {
        /* margin: 10px calc(0.5*(100vw - 650px)); */
        width: 900px;
        margin: 10px auto;
        margin-top: 20px;
        justify-content: space-between;
    }
    .main {
        font-size: 2.8rem;
    }
    .sub {
        font-size: 25px;
    }
    .navbar li {
        margin: auto 0.6rem;
    }
    .main-image {
        width: 650px;
    }
    .gallery-images {
        justify-content: center;
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 265px);
        grid-template-rows: repeat(3, 265px);
        gap: 55px;
    }
}