/* ---------- Testing */
.test {
    border: 1px solid red;
}
/* ---------- Header */
.header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.5);
}

.brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.main {
    margin-bottom: 0;
}

.sub {
    margin-top: 0;
    font-size: 14px;
    font-weight: 300;
}

.burger {
    width: 14px;
}

.dropdown {
    position: relative;
    /* display: inline-block; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dropdown span {
    margin-bottom: 14px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: -27px;
    top: 45px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    list-style-type: none;
    border-radius: 5px;
}

.dropdown-content li {
    text-align: center;
    padding: 3px 1px;
}

.dropdown-content a,
.dropdown-content a:visited {
    text-decoration: none;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ---------- Body */
body {
    min-height: 100vh;
    margin: 0;
}

.gallery-image {
    width: 250px; /*Consider removing for mobile, adding x-margins instead (full width of device)*/
    margin: 15px auto;
    text-align: center;
}

.main-image {
    width: 250px;
    margin: 5px auto;
    height: 430px;
    text-align: center;

    background-image: url('public/zaeem-farooqi-phyrrah-character-page-final.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 74%;
    box-shadow: 0px 6px 7px -4px rgba(0,0,0,0.75);
}

.image {
    width: 100%;
    margin-top: 5px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background-image: url('public/zaeem-farooqi-phyrrah-character-page-final.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 74%; */
}
/* ---------- Footer */
.footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

/* ---------- Media Queries */
@media (min-width: 430px){
    .header {
        margin: initial 10%;
    }
    .main {
        margin-bottom: 0;
        font-size: 2rem;
    }
    
    .sub {
        margin-top: 0;
        font-size: 17px;
        font-weight: 300;
    }

    .burger {
        width: 18px;
    }
    .dropdown-content {
        top: 66px;
    }
}
@media (min-width: 576px){

}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
    
}